# VorteX WellMind Environment Configuration
# Copy this to .env and fill in your credentials

# Flask Configuration
FLASK_ENV=development
FLASK_DEBUG=True

# Database
DATABASE_URL=sqlite:///wellmind.db


# Hedera Hashgraph (Testnet)
HEDERA_ACCOUNT_ID=0.0.7301840
HEDERA_PRIVATE_KEY=302e020100300506032b6570042204208e69ca93167c35bc45ab43cc23c1b31756dc1a645108da14357eeabc5d******
HEDERA_TOPIC_ID=0.0.7301961

# Frontend
REACT_APP_API_URL=http://localhost:5000

#AI CHATBOT
GEMINI_API_KEY = AIzaSyDy_ZqXxkbyUDAj1Hwfv4j89LVf6226***


#EMAIL SERVICE
GMAIL_APP_PASSWORD=mjlrwyafztopp***.